body {
  background: #010100;
  color: #ced1d5;
  line-height: 24px;
}

p,
ol {
  font-family: "Roboto Mono", monospace;
}

a {
  color: #ced1d5;
  text-decoration: underline;
  text-underline-offset: 0.1em;
}

a:hover {
  text-decoration: underline dotted;
}

#logo-header {
  width: 30%;
  margin-bottom: 2rem;
}

#hero-desc {
  margin-bottom: 6rem;
}

#logo-footer {
  width: 10%;
  margin-top: 5rem;
}

#container {
  margin: 0;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 0.8rem;
}

#tag-line {
  font-size: 3.5rem;
  font-family: "Poppins", sans-serif;
  line-height: 3.6rem;
}

h2 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  margin-top: 4rem;
  line-height: 2.6rem;
}

h3 {
  font-family: "Poppins", sans-serif;
  margin-top: 2rem;
}

@media (min-width: 1054px) {
  #logo-header {
    width: 20%;
    margin-bottom: 2rem;
  }

  #container {
    margin: auto;
    width: 40%;
    margin-top: 5em;
    padding-bottom: 3rem;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  #logo-footer {
    width: 5%;
    margin-top: 5rem;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #b1b1b1;
}
