/* roboto-mono-regular - latin */
@font-face {
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("./static/roboto-mono-v21-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */
      url("./static/roboto-mono-v21-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("./static/roboto-mono-v21-latin-regular.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
/* roboto-mono-700 - latin */
@font-face {
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("./static/roboto-mono-v21-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./static/roboto-mono-v21-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("./static/roboto-mono-v21-latin-700.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
/* poppins-regular - latin */
@font-face {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("./static/poppins-v20-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./static/poppins-v20-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("./static/poppins-v20-latin-regular.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
/* poppins-600 - latin */
@font-face {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  src: local(""), url("./static/poppins-v20-latin-600.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./static/poppins-v20-latin-600.woff")
      format("woff"),
    /* Modern Browsers */ url("./static/poppins-v20-latin-600.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

body {
  background: #010100;
  color: #ced1d5;
  font-family: "Roboto Mono", monospace;
  line-height: 24px;
}

a {
  color: #ced1d5;
  text-decoration: underline;
  text-underline-offset: 0.1em;
}

a:hover {
  text-decoration: underline dotted;
}

#logo-header {
  width: 60%;
  margin-bottom: 2rem;
}

#logo-footer {
  width: 10%;
  margin-top: 5rem;
}

#container {
  margin: 0;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 0.8rem;
}

h1 {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  margin-top: 4rem;
}

h3 {
  font-family: "Poppins", sans-serif;
  margin-top: 2rem;
}

@media (min-width: 1054px) {
  #container {
    transform: translate(-50%, 0%);
    position: absolute;
    margin-top: 5em;
    padding-bottom: 3rem;
    left: 50%;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  #logo-footer {
    width: 5%;
    margin-top: 5rem;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #b1b1b1;
}
